body, html {
  margin: 0;
  height: 100%;
}

body {
  background: linear-gradient(#AA23AA, #B945B9)
}

#bkg {
  width: 100%;
  position: absolute;
  display: float;
  z-index: -1;
}

.container {
  width: 100%;
  text-align: center;
}

.navbar {
  font-family: 'Dancing Script', cursive;
  font-size: 5em;
  color: #4F0EA6;
}
