body, html {
  margin: 0;
  height: 100%;
}

body {
  background: linear-gradient(#9F009F, #BA44BA)
}

#app {
  background: url("https://dl.dropbox.com/s/3ei3gcdzl3r0xuv/firstDate.jpg?dl=0") no-repeat center;
  background-size: cover;
}

.container {
  width: 100%;
  text-align: center;
}

.navbar {
  font-family: 'Dancing Script', cursive;
  font-size: 5em;
  color: #4F0EA6;
}
